#workflowViewer1 {
  >div:first-child {
    width: 100% !important;
    height: 55vh !important;
  }

  /* .react-flow__pane {
    transform: scale(.72) !important;
    transform-origin: center center !important;
  } */
}