.title-group {
    .title {
        font-size: 45px;
        line-height: 45px;
        letter-spacing: 0.02em;
        text-align: left;
    }
}

.sign-in-form {
    .title {
        font-size: 32px;
        font-weight: 700;
    }

    .G-btn {
        height: 50px;
    }
}